<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!">Fitness App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </nav>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let product of allproducts">
              <div class="card h-100 p-3">
                  <!-- Product image-->
                  <h5 class="fw-bolder">{{product.id}}</h5>

                  <img height="200px" class="card-img-top" [src]=product.gifUrl [alt]="" />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Name:{{product.name.slice(0,20)}}</h5>
                          <h5 class="fw-bolder">Target muscle:{{product.target.slice(0,20)}}</h5>
                          <h5 class="fw-bolder">Target body part:{{product.bodyPart.slice(0,20)}}</h5>

                       
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div id="card" class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="d-flex justify-content-evenly">
                        <a class="btn btn-outline-success mt-auto" routerLink="/userworkout/{{product.id}}"><i
                                class="fa-solid fa-eye"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
              </div>
          </div>

      </div>
  </div>
</section>