<div id="imagee"><div id="image" class="container text-center border p-5 rounded">
  <div id="tag">
              <form>
                <div id="heading">admin id:</div>
                  <input type="text" class="form-control" name="adminid" [(ngModel)]="adminid" id="" >
                  <br>
                 <div id="heading"> password</div>
                 <input  type="password" class="form-control" name="password" [(ngModel)]="password" id="" >
                    <br>
                  <button (click)="store()" class="btn btn-success">log in</button>
              </form>
  </div>
</div></div>